@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Josefin+Slab&display=swap');


body {
    background-image: url(../images/bg-image3.jpg);
    margin: 0;
    padding: 0;
    font-family: "Josefin Slab", sans-serif;
    /* background: url(assets/images/bg-image1.jpg) center no-repeat; */
    color: #fafafa;
}

h1 {

}

h2 {
    font-family: "Fredericka the Great", sans-serif;
}

.h2-line {

}

.h2-line span {

}

.row {
    margin: 0;
}

/* --------------------------------------------- BLOCK DIVIDERS */

.block-divider {
    /* border-top: 3px double #fafafa;
    content: "";
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 35%; */
    width: 50%;
    height: 1px;
    border: 0;
    background-color: #fafafa;
}

/* --------------------------------------------- BUTTONS */

.btn--book {
    font-weight: bold;
    border-radius: 12px;
    width: 180px;
    text-transform: uppercase;
    line-height: 2.5;
}

.btn--white {
    color: #fafafa;
    background-color: #43755852;
    border-color: #437558;
}

.btn--white:hover,
.btn--white:active,
.btn--white:focus,
.btn--white:active:focus {
    background-color: #437558;
    border-color: #2f533e;
}



/* --------------------------------------------- HEADER */
.navbar {
    padding: 2%;
}


/* --------------------------------------------- HEADER: LOGO */
.logo {
    font-family: "Fredericka the Great", sans-serif;
    font-size: 1.8em;
    padding: .25rem .55rem;
    line-height: 1;
}

.logo img {
    border-radius: 25%;
    width: 1.8rem;
    height: 1.8rem;
}

/* --------------------------------------------- HEADER: MAIN MENU */
.navbar-toggler {
    color: #fafafa;
    padding: .25rem .55rem;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border: 3px dotted #fafafa;
    border-radius: .3rem;
}

.navbar-nav .nav-link {
    padding: 4px 12px;
    font-size: 1.3rem;
    align-items: flex-end;
}


.nav-link {
    padding-right: 7%;
}


/* --------------------------------------------- SECTION: CALLOUT */

.callout-container {
    height: 100vh;

    background: url(../images/blackboard4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #fafafa;
    font-size: 4rem;
    margin-bottom: 30px;
    font-family: "Fredericka the Great", sans-serif;
}

.jumbotron p {
    font-size: 1.7rem;
    color: #fafafa;
    margin-top: 2rem;
}

.welcome {
    font-size: 2rem;
    font-family: "Fredericka the Great", sans-serif;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0),0,0,0.5);
}

/* --------------------------------------------- SECTION: HISTORY */

.history {

}

/* --------------------------------------------- SECTION: MAKE A RESERVATION */

.reservation {

}

/* --------------------------------------------- SECTION: WHERE TO FIND US */

.location {

}
